.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.iconImg{
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info{
    margin-left: 2rem;
    margin-right: 2rem;
}

.linkProjetos{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(77, 77, 77);
}