.container{
    display: flex;
    flex-direction: column;
}

.containerImg{
    margin: 2rem;
    background-color: rgb(170, 170, 170);
    align-self: center;
}

/* .containerImg img{
    width: 100%;
} */

.info{
    margin: 2rem;
}

.info > p{
    text-align: left;
}